# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #   run: |
      #     set where iisreset
      #     rem powershell -ExecutionPolicy Bypass .\tools\deploy-site.ps1 -site_name test-site -app_name test-site -site_hostname test-site -code_folder ..\site
      #     choco list --source windowsfeatures
      #     curl -vvvv http://localhost
      #   shell: cmd

      - name: Create a site
        shell: powershell
        run: |
          $siteName = "TestSite";
          $siteIISAppPool = "IIS:\AppPools\" + $siteName;

          Write-Host "Create Directory"
          $physicalLocation = $Env:systemdrive + "\inetpub\" + $siteName;
          Write-Host "Directory name: '$physicalLocation'."
          New-Item -path $physicalLocation -ItemType directory;


          Write-Host "Create App Pool"
          New-WebAppPool -Name $siteName;
          Set-ItemProperty -Path "IIS:\AppPools\$siteName" -Name managedRuntimeVersion -Value "v4.0";

          Write-Host "Create Site"
          New-WebSite -Name $siteName -Port 80 -HostHeader $siteName -PhysicalPath $physicalLocation -ApplicationPool $siteName
          #New-WebBinding -Name $siteName -Protocol "http" -Port 80 -HostHeader $siteName;

          Write-Host "List philes in physical location"
          Copy-Item ./site/index.htm $physicalLocation
          Get-ChildItem $physicalLocation -Name


          Get-IISSite $siteName

      - name: Whatsitdo
        shell: bash
        run: |
          curl -vvvv --silent -H 'Host: TestSite' http://localhost:80/index.htm -o file
          ls -lh
          cat file

